---
layout: layouts/base.njk
title: Adoptions — Tracing Natural Family
permalink: /our-services/adoptions/
---
<h1>Tracing Natural Family</h1>
<p>Adopted or Fostered individuals wishing to trace their natural family can be an extremely daunting and an emotionally challenging project for all concerned. It could very easily result in a painful first meeting for those searching their natural roots, and equally so for the family, who very often know nothing, or very little of such member who were once a part of their family. The same is true for natural parents and sibling tracing their long lost ones.</p>
<p>Knowing where to start is equally difficult.</p>
<p>A <a href="{{ '/request-for-information/' | url }}">request for information</a> is the usual first step.</p>
