---
layout: layouts/base.njk
title: Family History Projects
permalink: /our-services/family-history/
---
<h1>Family History Projects</h1>
<h2>Family History Reports</h2>
<h3>Enquiry Stage</h3>
<p>All our Family history projects are extensively and comprehensively researched, undergo a three stage exquiry process.</p>
<p>Initially, this would be based upon the details submitted at enquiry stage, followed by conducting a preliminary research exercise. Upon completion a report making recommendation for consideration and approval is produced. This shall also detail anticipated costs to complete your family history project, along with supplementary cost if any. It will also advise of minimum retainer fee payable in advance via secure PayPal invoice, prior to any actual research being reported upon. PayPal provide various means of payment, including Credit/Debit Card facilities.</p>
<p>If nothing is discovered the client will always be informed.</p>
<h3>Family History Report</h3>
<p>A sample of a family history report previously competed is included for demonstration purposes to illustrate the depth, style, and format all family history project report presentations take.</p>
<figure class="figure figure--center">
  <img src="{{ '/assets/images/services/sample-report.jpg' | url }}" alt="Sample Family History Report">
  <figcaption>Sample Family History Project Report</figcaption>
</figure>
<p>Typical items covered would include;</p>
<ul>
  <li>Parish and Civil registrations,</li>
  <li>Newspaper &amp; Journal Articles,</li>
  <li>Naval and Army service Records,</li>
  <li>The Various Valuation Books,</li>
  <li>Census Returns,</li>
  <li>Local Maps.</li>
</ul>
<h3>Family Trees</h3>
<p>Family Trees are excellent visual aids for understanding one’s family history projects; a diagram showing the relationship between people in several generations of a family. Most, but not all, would show Descendancy, Ascendancy, or a combination of both.</p>
<p>Included is on illustrating extended family taken from a local History project. In this case only the top layer of family tree is extended.</p>
<figure class="figure figure--center">
  <img src="{{ '/assets/images/services/family-tree-ballinacurra.jpg' | url }}" alt="Bransfield Extended Family Tree Ballinacurra">
</figure>
