---
layout: layouts/base.njk
title: Our Services
permalink: /our-services/
---
<h1>Our Services</h1>
<p>Whether you are at the early stages of your research, or at an advance level; we can supplement your own efforts by filling in many of the gaps through our expertise and experience, specifically tailored to meet your particular project requirements. Your family history project may be a single family, yet will inevitably lead to a substantial family tree with many branches.</p>
<p>We will simply ask that our comprehensive questionnaire be completed offline. Once ready to submit please return via email as an attachment. Upon receipt we shall conduct our preliminary research, providing our clients with a detailed analysis of initial findings. Once accepted, and payment of retainer fee received via PayPal, our research shall commence. Throughout this process our clients shall be continually updated of progress made at regular intervals. However, in the unlikely event that nothing is found, a full refund shall be made.</p>
<p>For demonstration purposes, of our website, and the benefits we are able to offer, the “Baptismal Register” for Cork City, and surrounding areas shall be utilized which contain in excess of 280,000 entries alone. Many of these entries will contain details of the Parents, and Godparents. In the vast majority of cases, as is true today, these Godparents generally speaking tend to be family members; thus providing another avenue of further investigation. In some cases additional sponsors/godparents are recorded. In others; Godparents are simply recorded by proxy, occasionally mentioning names of stand-ins. Occupations and address’ are also often mentioned. Many entries contain supplementary evens such as; births, deaths and Marriages.</p>
<p>Similarly, Marriage registers are also available to us containing a further 48,000 entries approximately. As with the Baptism registers, these too contain vital supplemental information on occasions. Regrettably, however, this element will not form part of searchable database due to be launched shortly. Naturally, any project undertake shall obviously include such details.</p>
<p>These registers were not simply for entering the relevant details. They also often contain a wealth of information. Some prove to be of an historical nature when properly analysed. They also, occasionally act as personal diaries. One register in particular contains the Parish Census for 1810.</p>
<ul class="section-index">
  <li><a href="{{ '/our-services/family-history/' | url }}">Family History Projects</a></li>
  <li><a href="{{ '/our-services/passports/' | url }}">Irish Citizenship &amp; Passport Applications</a></li>
  <li><a href="{{ '/our-services/adoptions/' | url }}">Adoptions — Tracing Natural Family</a></li>
</ul>
