---
layout: layouts/base.njk
title: Father Stephen William Coppinger
permalink: /families/coppinger/stephen-william-coppinger/
---
<h1>Stephen William Coppinger</h1>
<h2>Father Stephen William Coppinger</h2>
<h3>Early life</h3>
<p>Cousin of the <a href="{{ '/families/coppinger/john-joseph-coppinger/' | url }}">Colonel John Joseph Coppinger</a>, Stephen William Coppinger was born, 4<sup>th</sup> January 1803, the son of Stephen William Coppinger &amp; Joanna Coppinger. He studied for the priesthood at the Seminary of San Sulpice, Paris, and ordained by his uncle Dr. William Coppinger, Bishop of Cloyne, 29<sup>th</sup> April 1829.</p>
<p>Stephen William Coppinger, known simply as Stephen, was deeply affected by the needs of poor and deprived children of his native Midleton; just as Nano Nagle before him did in the city. There is, however, no evidence that she was ever in Midleton.</p>
<h3>Presentation Convent and school</h3>
<p>Stephen Coppinger’s greatest achievement and legacy must be Midleton’s Presentation Convent and school, completed in 1834. It was the realisation of a dream of this young priest to improve the poor health of the children of his parish, and only 26 years of age when construction began in 1829. Stephen’s sister; Dorinder, married, <a href="{{ '/historical/architects/george-coppinger-ashlin/' | url }}">John Musson Ashlin</a>, whose son George Coppinger Ashlin, was in partnership with Edward Welby Pugin (1834-1875), the renowned London Architect.</p>
<p>Angelina Gould was born Portugal, 1792 the daughter of a wealth Irish merchant. Her parents had left their native country some years previously and taken up residence, where they had acquired an enormous commercial wealth. She joined the Presentation Order as a novitiate at Doneraile in 1826 and made her religious profession in 1829. She brought with her a fortune of approximately £60,000.00, and willed that a greater portion of her fortune be employed in the building of Presentation convents in the Cloyne Diocese for the promotion of Catholic education of the poor. She was a first cousin of the Bishop.</p>
