---
layout: layouts/base.njk
title: John Conway — Architect
permalink: /historical/architects/john-conway/
---
<h1>John Conway — Architect</h1>
<p>Very little is known of John Conway Architectural endeavours other than his brief biography posted the <a href="https://www.dia.ie/architects/view/1170/CONWAY-JOHN" target="_blank" rel="noreferrer">Directory of Irish Architects</a>. However, it is not totally accurate with regard his personal life, and something which is to be corrected within this article.</p>
<p>According to their posting;</p>
<blockquote>"On 4 February 1799 John Conway married a Miss Scraggs, daughter of John Scraggs of George's Street, who must have died not long afterwards, as on 4 February 1805 he married her sister Charlotte."</blockquote>
<p>This is factually incorrect. Although, he may have twice married; he actually married Charlotte on 4<sup>th</sup> February 1799, as recorded within the South Parish marriage register, an edited extract of which is included. Unfortunately, there were no witnesses recorded for them.</p>
<figure class="figure figure--center">
  <img src="{{ '/assets/images/historical/conway/marriage.jpg' | url }}" alt="South Parish marriage register extract">
  <figcaption>South Parish Marriage Register Extract</figcaption>
</figure>
<p>The earliest found listing for Cork City of any Conway family members was by the ‘Lucas's Cork Directory, 1787’ for Timothy, Watch Maker, North Main Street. Then James Connoway for the ‘Holden's Triennial Directory, 1805-07’. It was not until ‘West’s Cork Directory, 1809-10’ as reproduced by Cork <a href="https://www.corkpastandpresent.ie/" target="_blank" rel="noreferrer">City Library’s Local History Section</a>, an extract of which is here included;</p>
<figure class="figure figure--left">
  <img src="{{ '/assets/images/historical/conway/west-directory.jpg' | url }}" alt="West’s Cork Directory extract">
</figure>
<p>An 'Evening Echo' article of, 14<sup>th</sup> July 1972 entitled;</p>
<blockquote>‘Conway’s Yard’ states "Michael Conway has his stables somewhere in Frenches Quay area and had moved to Conway’s Yard after a few years as he is listed in 1834 as having Livery Stables at the Yard, in what was then George’s Street."</blockquote>
<p>George's Street is now, Oliver Plunkett Street Conway’s Yard has been replaced with a modern multi-storey car park opposite the City Library. Michael may have been John’s brother or father, which for now is currently unknown.</p>
<p>Charlotte death was reported, Southern Reporter, 13<sup>th</sup> December 1823. John Conway survived her by fourteen years, and was likewise reported by the Southern Reporter, 28<sup>th</sup> January 1837. Although, not mentioned within this announcement, his house on Blackrock Road was called 'Roseview', and was after his and Charlotte's death occupied by his cousins; John Stephen Conway and Mrs Eliza O'Connor.</p>
<div class="pair-figures">
  <figure class="figure">
    <img src="{{ '/assets/images/historical/conway/charlotte-death.jpg' | url }}" alt="Charlotte Conway death notice">
    <figcaption>Southern Reporter 13 December 1823</figcaption>
  </figure>
  <figure class="figure">
    <img src="{{ '/assets/images/historical/conway/john-death.jpg' | url }}" alt="John Conway death notice">
    <figcaption>Southern Reporter 28 January 1837</figcaption>
  </figure>
</div>
<p>Both were avid supporters of Temperance priest, Father Theobald Mathew, and later jointly owned 'Conway's Yard' and the 'Hore Bazaar', Sullivan's Quay.</p>
<p>The follow rather curious entry of ‘Charitable Donations and Bequest (Ireland) of the Prerogative Court, 1838 has been found for John Conway; the original of which is yet to be discovered.</p>
<blockquote>"John Conway, late of the City of Cork, Proprietor of the Royal Horse Bazaar: ‘I also direct the sum of 200 L shall be paid equally by the said Stephen Conway and Bess O’Connor to the Rev. John Augustus Cronin, as a token of my gratitude, and partly for charity.’"</blockquote>
