---
layout: layouts/base.njk
title: Coppinger Midleton Brewery
permalink: /historical/brewers-distillers/coppinger-midleton/
---
<h1>Coppinger Midleton Brewery</h1>
<p>William Joseph Coppinger of '<a href="{{ '/families/coppinger/william-joseph-coppinger/' | url }}">Glenmore Lodge</a>', Cove was leaseholder of Midleton's Coppinger Brewery Business. Although, it is currently uncertain when this business commenced, it is understood to have ceased trading about 1837, as noted within the ‘Valuation House Book’ of 18<sup>th</sup> December 1849. Here it is also noted the property was leased by William Joseph to an unnamed old man, and was in a sad state of repair, which had previously been leased to brothers; John and William Coppinger as a Brewery with 11 ½ acres of land.</p>
<div class="pair-figures">
  <figure class="figure">
    <img src="{{ '/assets/images/historical/brewery/to-let-1852.jpg' | url }}" alt="To let brewery 1852">
    <figcaption>Southern Reporter, 21<sup>st</sup> August 1852</figcaption>
  </figure>
  <figure class="figure">
    <img src="{{ '/assets/images/historical/brewery/guys-1845.jpg' | url }}" alt="Guy's 1845 Midleton">
    <figcaption>Guy's 1844/45 Postal Directory (Edited Extract)</figcaption>
  </figure>
</div>
<figure class="figure figure--left">
  <img src="{{ '/assets/images/families/coppinger/brewery-valuation.jpg' | url }}" alt="Valuation House Book 1849">
  <figcaption>Valuation House Book, 18<sup>th</sup> December 1849</figcaption>
</figure>
<p>Follows is the transcribed text in relation to the damaged Brewery property, part of which is leased to the unnamed nephews of William Joseph.</p>
<blockquote>This concern, including ½ acres of land adjacent, and let to a tenant is held on an old lease rent £150 a year – Tenant advanced £500 and made at their own cost about half the buildings – This was a Brewery but for more than 12 years has not been so occupied – This year 1847-1848 about 1/3 part of the stores is let for 6 months for £30 to Messrs Coppinger’s nephews- The yards are convenient but in winter are frequently inundated. The spring tides damaging up the shores to the whole concern is more or less flooded – The present tenants are an old man and have no idea to resume brewing or embark in any business – As a whole, the buildings seem rather prematurely damaged.</blockquote>
<p>Shortly before William Joseph’s death, the Brewery concerns were put on the market to be let was by Joseph Coppinger of ‘Rock Terrace’. One such notice was placed, Cork Examiner 4<sup>th</sup> September 1850. Then again, 21<sup>st</sup> August 1852, another ‘For Let’ notices began to appear in various newspapers such as the; Southern Reporter and Cork Examiner, with applications to be made to William Joseph Coppinger of ‘Glenmore Cottage’, where it states ‘lately held by Joseph Coppinger, Esq.’, who was possibly his brother</p>
<div class="pair-figures">
  <figure class="figure">
    <img src="{{ '/assets/images/historical/brewery/to-let-1850.jpg' | url }}" alt="To let 1850">
    <figcaption>Cork Examiner, 4<sup>th</sup> September 1850</figcaption>
  </figure>
  <figure class="figure">
    <img src="{{ '/assets/images/historical/brewery/to-let-1852.jpg' | url }}" alt="To let brewery 1852 again">
    <figcaption>Southern Reporter, 21<sup>st</sup> August 1852</figcaption>
  </figure>
</div>
