---
layout: layouts/base.njk
title: Brewers & Distillers
permalink: /historical/brewers-distillers/
---
<h1>Brewers &amp; Distillers</h1>
<p>Whiskey production was another significant industry in Cork from the late 18th century. Rum and brandy were gradually displaced by whiskey as production of the latter increased. Often using English and Scottish distilling expertise, several distilleries were established in the city from the 1780s and there were seven in operation in 1807. Most were on the north side of the city including those at Millfield, Dodge’s Glen, the Green Distillery, the Watercourse Distillery and Daly’s John Street Distillery. North Mall distillery, beside the north channel of the River Lee was associated with the Wise family, while St. Dominick’s Distillery was set up by Thomas Walker at Crosse’s Green on the south side. In the 1820s distilleries were established in the county at Riverstown (John Lyons&amp; Company), Bandon (Allman’s) and two in Midleton (Hackett’s and Murphy’s).</p>
<p>The industry was under pressure from the mid-19th century from a combination of the 1830s temperance movement, population decline from the 1840s (as a result of the Great Famine 1845-1850) and a move away from spirits and towards beer. The result was that by the 1860s, Millfield, St. Dominick’s and Dodge’s Glen distilleries in the city had closed, as had the county concerns at Riverstown and Hackett’s in Midleton. The remaining city distilleries (Watercourse, John Street, North Mall and the Green) and Murphy’s Midleton distillery amalgamated in 1867 to form Cork Distilleries Company (CDC). This merger allowed the new company to rationalize production in the different properties. A new distillery was established at the Glen, Kilnap in the 1880s which produced whiskey until the 1920s.</p>
<ul class="section-index">
  <li><a href="{{ '/historical/brewers-distillers/murphy/' | url }}">Murphy Brothers</a></li>
  <li><a href="{{ '/historical/brewers-distillers/coppinger-midleton/' | url }}">Coppinger’s Midleton Brewery</a></li>
</ul>
