---
layout: layouts/base.njk
title: Historical Interests
permalink: /historical/
---
<h1>Historical Interests</h1>
<ul class="section-index">
  <li><a href="{{ '/historical/architects/george-coppinger-ashlin/' | url }}">George Coppinger Ashlin</a></li>
  <li><a href="{{ '/historical/architects/john-conway/' | url }}">John Conway</a></li>
  <li><a href="{{ '/historical/bankers/roche-brothers/' | url }}">Roche Brothers</a></li>
  <li><a href="{{ '/historical/brewers-distillers/' | url }}">Brewers &amp; Distillers</a></li>
  <li><a href="{{ '/historical/brewers-distillers/murphy/' | url }}">Murphy Brothers</a></li>
  <li><a href="{{ '/historical/brewers-distillers/coppinger-midleton/' | url }}">Coppinger’s Midleton Brewery</a></li>
  <li><a href="{{ '/historical/hibernian-chronicle/' | url }}">Hibernian Chronicle</a></li>
  <li><a href="{{ '/historical/poor-law-unions/' | url }}">Hospitals and Institutions</a></li>
  <li><a href="{{ '/historical/poor-law-unions/midleton/' | url }}">Midleton Poor Law Union</a></li>
  <li><a href="{{ '/historical/policing/' | url }}">Policing</a></li>
  <li><a href="{{ '/historical/irish-diaspora/' | url }}">Irish Diaspora</a></li>
</ul>
