---
layout: layouts/base.njk
title: Midleton Distillery
permalink: /historical/brewers-distillers/murphy/
---
<h1>Midleton Distillery</h1>
<p>Midleton Distillery, together with the North Mall and Watercourse Distilleries in Cork, was part of the Cork Distilleries Company. Only 13 miles from Cork, Midleton is situated on an inlet of Cork Harbour, with the Dungourney River supplying water to the distillery. The original buildings, on an 8 acre site, had been built at the end of the 18th century as a very large woollen mill. The venture proved unsuccessful and the buildings were subsequently turned into military barracks, before being purchased in 1825 by James, Daniel and Jeremiah Murphy (Senior's),three brothers who exploited the opportunities of the 1823 Excise Act to convert them into a distillery.By 1830 the distillery was producing 400,000 gallons annually and employing 200 men.</p>
<figure class="figure figure--center">
  <img src="{{ '/assets/images/historical/murphy/distillery-1886.jpg' | url }}" alt="Midleton Distillery 1886">
</figure>
<p>Born 1825, James Jeremiah Murphy (Midleton Brewery &amp; Distillery clan) was the eldest son of fifteen children bornto, Jeremiah James Murphy and Catherine Bullen. His baptismal entry may be found within the registers of South Parish, dated, 13<sup>th</sup> November 1825. This date is often miss-quoted as his date of birth.</p>
<figure class="figure figure--center">
  <img src="{{ '/assets/images/historical/murphy/james-murphy-baptism.jpg' | url }}" alt="James Murphy baptism">
</figure>
<p>It read;</p>
<blockquote>"James of Jno Murphy &amp; Cath Bullen. Spons James Murphy &amp; Cath Bullen. Wm Connor (Celebrant)."</blockquote>
<p>His uncle, John, and brother of Jeremiah James (above), born of James Murphy &amp; Mary Galwey, succeeded Francis Moylan as Bishop of Cork &amp; Ross, 1815.</p>
<p>James Jeremiah served his time in the family business interest and was also involved in the running of a local distillery in Cork. He sold his share in this distillery to fund his share of the set up costs of the brewery in 1856. James J. was the senior partner along with his four other brothers. It was James who guided to the brewery to success in its first forty years and he saw its output grow to 100,000 barrels before his death in 1897.</p>
<p>James Jeremiah throughout his life had a keen interest in sport, rowing, sailing and GAA being foremost. He was a supporter of the Cork Harbour Rowing Club and the Royal Cork Yacht Club and the Cork County Board of the GAA. James J. philanthropic efforts were also well known in the city supporting hospitals, orphanages and general relief of distress in the city.</p>
<p>In 1854 James J. and his brothers purchased the buildings of the Cork foundling Hospital and on this site built the brewery. The brewery eventually became known as the Lady's Well Brewery as it is situated adjacent to a famous 'Holy Well' and water source that had become a famous place of devotion during penal times.</p>
<p>1856 James J. Murphy and his brothers found James J. Murphy &amp; Co. and begin brewing.</p>
<blockquote>"It is James Jeremiah that epitomises the Murphy's brand in stature and quality of character. We always strive to live up to his name."</blockquote>
<p><strong>Source:</strong> Murphy Brewery</p>
<p>The Midleton site is now the home of <a href="https://www.jamesonwhiskey.com/en-IE/" target="_blank" rel="noreferrer">Jameson's Whiskey</a>.</p>
