---
layout: layouts/base.njk
title: Policing Ireland
permalink: /historical/policing/
---
<h1>Policing Ireland</h1>
<h2>Its formation</h2>
<h3>Peace Preservation Force</h3>
<figure class="figure figure--left">
  <img src="{{ '/assets/images/historical/policing/sir-richard-willcocks.jpg' | url }}" alt="Sir Richard Willcocks">
  <figcaption>Miniature portrait of Sir Richard Willcocks by Adam Buck (1759-1833)</figcaption>
</figure>
<p>Prior to 1814, the policing of Ireland was undertaken by Barony Police Forces under the command of their local Magistrate, who were unable to deal with the violence and general lawlessness which prevailed at that time. That year saw Robert Peel (later Sir Robert) chief secretary of Ireland (1812-18) as the architect of policing modernisation in Ireland by the introduction of an Act, 54, George III, c131, passed, 25<sup>th</sup> July 1814, more commonly known as the “Peace Preservation Act”, empowering the Lord Lieutenant to proclaim any city or county in Ireland he deemed to be ‘in a state of disturbance’, to immediately appoint a paid Chief Magistrate, Chief Constable and his fifty constables, in order to preserve the peace.</p>
<blockquote>“To provide for the better execution of the Laws in Ireland, by appointing Superintending Magistrates and additional Constables in Counties in certain cases.”</blockquote>
<p>The Chief Magistrate was obliged to live within the barony of his appointment.</p>
<p>The first deployment of this new ‘Peace Preservation Force’ who were entirely at the disposal of the Lord Lieutenant of Ireland for use in any district had been made by proclamations which took place, 6<sup>th</sup> September 1814, for the Barony of Middlethird, Co Tipperary. This proclamation declaring that Major Richard Wilcocks was appointed to act as Chief Magistrate, with Richard Burbridge as his clerk, and John Kiely their Chief Constable. These officials were supported by a force of 50 former Calvary men as Sub-constables.</p>
<h3>The New Constabulary</h3>
<p>On the 25<sup>th</sup> November 1822, as reported by many local and national newspapers, the Magistrates of County Cork assembled at the County Courthouse, to appoint 376 Baronial Constables in accordance with the Lord Lieutenant’s Proclamation, under the New Constabulary Act passed into law earlier in the year.</p>
<p>Major Richard Wilcocks, by now the first Inspector-General of the Munster Constabulary, arrived in Cork from Tralee to attend the debate. It was at this meeting Colonel Longfield whose estate is withn the barony of Duhallow, suggested the entire Police force of the County should be entrusted to Major Wilcocks. This motion was seconded upon which a vote took place, resulting in an equal 63/63 split to this assignment being offered to the Major. After further discussion the decision was left to Lord Doneraile to make appointment which was accepted.</p>
<p>At the close of this meeting the Major suggested that the current policing force under the Peace Preservation Act should not be dismissed “until the new Act was in full operation.” The meeting was then adjourned.</p>
<p>Dublin Correspondent, 27<sup>th</sup> December 1823, with others made following announcement;</p>
<blockquote>“His Excellency the Lord Lieutenant has been graciously pleased to authorise Mr. Vokes to nominate Mr. Henry Woodburn to be his Secretary, attached to his Police in the county of Limerick, vice that experienced and zealous officer, John Kiely, Esq., who has been sent by his Excellency onto the ‘disturbed districts’ of the county of Cork.”</blockquote>
<p>This appointment was to be Cloyne.</p>
