---
layout: layouts/base.njk
title: Roche Brothers Bank
permalink: /historical/bankers/roche-brothers/
---
<h1>Roche Brothers Bank</h1>
<figure class="figure figure--left">
  <img src="{{ '/assets/images/historical/roche/camden-place.jpg' | url }}" alt="Roche's Bank Camden Place">
  <figcaption>Roche Bank, 1 Bridge Street</figcaption>
</figure>
<p>One of the leading lights of the Cork banking fraternity was that of Stephen and James Roche, the sons of Stephen and Sarah O’Brien, born County Limerick. These gentlemn eventually settled in Cork City. Here they established their merchant bank. Two other brothers; William and George were also Bankers, but of Limerick. Another, Richard was a Dominican priest.</p>
<p>The family does not appear anywhere else within this,or any orther directory, so presumably they lived above premises from where they operated their business. This fact is borne out by numerous letters and documents signed by James held at the Cork City Archives, and may be viewed by appointment only. This building still stands, situated at the corner of Camden Place, and Camden Quay, directly opposite St Patrick's bridge.</p>
<p>Promissory banknotes were only ever issued by commercial banks made payable to the bearer on demand who were obliged to redeem these notes for legal tender when presented at the issuing bank, and only traded at face value at local markets served by the issuing bank.This one, No 88 of the series, was issued by the Roche brothers valued at 'Nine Shillings', dated Oct 13<sup>th</sup>, 1800.</p>
<figure class="figure figure--center">
  <img src="{{ '/assets/images/historical/roche/nine-shilling-note.jpg' | url }}" alt="Roche nine shilling bank note">
  <figcaption>James &amp; Stephen Roche 9 shillings Promissory Note</figcaption>
</figure>
<p>By 20th September 1808, the business had expanded to such an extent the brothers were able to seek to employ staff, advertising as far a field as Dublin. The alongside notice appeared, 'Saunder's Newsletter';</p>
<figure class="figure figure--right">
  <img src="{{ '/assets/images/historical/roche/employment-notice.jpg' | url }}" alt="Employment notice 1808">
</figure>
<figure class="figure figure--right">
  <img src="{{ '/assets/images/historical/roche/samuel-west.jpg' | url }}" alt="Samuel West Camden Place">
  <figcaption>Samuel West's 1810 directory</figcaption>
</figure>
<p>Samuel West's directory of 1810 gives their address as Camden Place; an edited extract of which is shown alongside.</p>
<p>As a direct consequence of cessation of the Napoleonic wars, repercussions were to felt throughout the Irish economy whose merchants had up until this time provided the British Army and Navy with substantial goods and services. All contracts were abruptly ended. Many merchants and trades simply could not continue, and were eventually bankrupted. This had a dramatic knock on effect for the private banking industry; by 1820 their number fallen to only 20 throughout in the whole of Ireland. This tragedy was also experienced by the Roche brothers who business had collapsed that year.</p>
<p>As the 'National Bank of Ireland', the business initially opperated from South Mall.</p>
