---
layout: layouts/base.njk
title: The Army
permalink: /defence/army/
---
<h1>The Army</h1>
<figure class="figure figure--right">
  <img src="{{ '/assets/images/defence/regiment-listing.jpg' | url }}" alt="Regiment listing">
</figure>
<p>After the Napoleonic Wars, the next major war that was well represented by both men and women of Cork City and County was that of the Crimean, 1854-56. In many cases this fact was documented within the Baptismal registers, where the parents; mainly fathers, but occasionally both, and indeed many godparents, where their military occupations were stated. It is also well documented by various alternative sources that the 57<sup>th</sup> Regiment; and 89th Royal Irish Fusiliers were both stationed in Cork prior to, and subsequent to this period.</p>
