---
layout: layouts/base.njk
title: Irish Armed Services
permalink: /defence/
---
<h1>Irish Armed Services</h1>
<p>Cork City has long been considered the second Capital of Ireland. This is true for a variety of valid and historical reasons. At times of War; most notably Napoleonic; the City and County enjoyed a thriving economy. Industry would supply the Merchant fleet which in turn would shadow the movements of the Royal Navy. Here too could be found a sizable military contingent. All were based in and around Cork City and Cove/Cobh.</p>
<p>Both had financial institution, and Government Agencies to service the needs of Industry, the Crown, the Armed Services, and Merchant Fleets; making the city the second most populous in the Country; Dublin being the greater.</p>
<ul class="section-index">
  <li><a href="{{ '/defence/army/' | url }}">Army</a></li>
  <li><a href="{{ '/defence/royal-navy/' | url }}">Royal Navy</a></li>
</ul>
