---
layout: layouts/base.njk
title: Royal Navy
permalink: /defence/royal-navy/
---
<h1>Royal Navy</h1>
<figure class="figure figure--right">
  <img src="{{ '/assets/images/defence/royal-navy-listings.jpg' | url }}" alt="Royal Navy listings">
</figure>
<p>Across the harbour from Cove/Cobh is the island of Haulbowline, and was the home of the Irish based Royal Navy from 1808; its crews chiefly sourced from the City and County.</p>
<p>In an effort to illustrate this point, and, although, not directly genealogically relevant, a partial tabulation has been included here representing a total of 58 Royal Navy personnel of Carrigtwohill. This exercise was carried out as part of the parish history project currently being conducted on behalf of Carrigtwohill Historical Society.</p>
<p>By 1869, it was here, a major industrial dockyard was established for the repair and maintenance of naval ships. The island now is the home of the Irish Navy based in Cork. Today the <a href="https://www.nmci.ie/" target="_blank" rel="noreferrer">National Maritime College</a> is now located on the island, and run by the Irish Naval Service.</p>
<p>One of the more notable Royal Navy’s Cork sons, and one of significant historical importance, was Ballinacurra born, Edward Bransfield. It was he who first charted the then newly discovered Antarctic Continent. His family were, and are still to this day, mainly found in, and around the Midleton Townlands.</p>
