---
layout: layouts/base.njk
title: About Us
permalink: /
---
<h1>About Us</h1>
<h2>Repositories &amp; their Archives</h2>
<figure class="figure figure--right">
  <img src="{{ '/assets/images/about/city-archives.jpg' | url }}" alt="A local archives strong room">
  <figcaption>A Local Archives Strong Room</figcaption>
</figure>
<p>Cork Ancestral Archive &amp; Genealogical Research is a Cork based concern, whose activities are unique, and specific to Cork City and County. As much of the original archival material is held within the various County repositories, we are, therefore, well placed to conduct this much needed service.</p>
<p>That said, all other enquiries for outside Cork County shall obviously be considered, depending on the information our client is able to provide. These shall be dealt with through our extensive network of affiliated bodies.</p>
<p>Researching ones family history can be a daunting task. This is especially true when it come to tracing your Irish ancestral roots. Once it has a hold on you; try as you might; you will never shake it off. When this subject is mentioned, many will tell you that all records well lost during the attack, and subsequent fire at the Four Courts, Dublin. While true, it was not, and is not the only source of information. Parish Baptismal and Marriages registers would be one obvious source. A substantial number, but by no means all, have been scanned for prosperity; and shall continue for the foreseeable future. Others, just to mention a few include;</p>
<div class="source-columns">
  <ul>
    <li>Newspaper &amp; Journal Articles</li>
    <li>Ancient Manuscripts</li>
    <li>Local History Projects</li>
    <li>Cemetery &amp; Burial Registers</li>
    <li>Headstone inscriptions</li>
  </ul>
  <ul>
    <li>Local &amp; National Archives</li>
    <li>Local &amp; National Libraries</li>
    <li>Public &amp; Parish Census returns</li>
    <li>Public Records Generally</li>
  </ul>
</div>
<p>Unlike many other online services, we are not a pay-to-view business. Our approach to tracing ancestral roots is of a more personal nature. One of our in-house dedicated team of professional genealogists will be assigned to your case, who shall methodically research your Irish ancestry; reporting back at regular intervals.</p>
