---
layout: layouts/base.njk
title: Parish Registers
permalink: /databases/
---
<h1>Parish Registers</h1>
<figure class="figure figure--right">
  <img src="{{ '/assets/images/databases/sample-search.jpg' | url }}" alt="Sample surname search">
</figure>
<p>Whilst there is nothing technically wrong with the information contained within the details other services provide; it still remains a pretty much, a hit &amp; miss affair. There is absolutely no way of knowing from the original search results that the individual is the one being sought as the parents are not identified.</p>
<p>To ascertain any possible family groupings and relationships, one would potentially need to purchases a huge amount of credits, in order to retrieve all the relevant documentations.</p>
<p>Another serious disadvantage, and equally serious pitfall, is that they have not adequately taken into account variations in name spellings. Nor are they able to cater for abbreviations; a typical example of which would be Sulvn (and many other variations) for Sullivan.</p>
<p>In order to achieve this, our database has been designed to cater for this problem. A standard naming convention has been employed, while at the same time, retaining original data entered. All client reports shall contain original details. It must also be stressed that original ledgers, which are held by the Parish are not possible to scan or photocopy, as many are in a poor state of repair.</p>
<p>Our solution is radically different. The search facility is not restrictive as shall be seen by alongside screen shot. By simply entering surname required, the database will be searched; returning results for both parent combination. Unlike the competition, ours is comprehensively detailed, thereby, permitting client to arrive at a calculated assumption.</p>
<p>Please also be advised that this is not a 24 hour service. Upon receipt of your initial enquiry, a preliminary search shall be conducted. Once completed, an account of these finding shall be submitted for approval, along with comprehensive schedule, and our costing to produce our report.</p>
<p><a class="button" href="{{ '/databases/baptisms/' | url }}">Open baptismal register search</a></p>
